<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>מעקב טיפול רפואי בכלבי עמותת כלבלאב</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/style.css">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-touch.js"></script>
    <script src="JS/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="public/controller.js"></script>
</head>

<body ng-app="dogsMed" dir="rtl">
    <div class="container" ng-controller="AppCtrl">
        <h1 class="my-3 text-center">מעקב טיפול רפואי בכלבי עמותת כלבלאב</h1>
        <h2 class="text-center">חיפוש כלב במאגר</h2>

        <form class="search-box">
            <div class="row mx-auto">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dog-name">שם הכלב</label>
                        <input type="text" class="form-control" id="dog-name" ng-model="dog.name">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="dog-number">מס' בכלבייה</label>
                        <input type="text" class="form-control" id="dog-number" ng-model="dog.num">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="status">סטטוס</label>
                        <input type="text" class="form-control" id="status" ng-model="dog.status">
                    </div>
                </div>
                <div class="col-sm-2 my-auto">
                    <button class="btn btn-outline-info" ng-click="addDog()">הוספת כלב חדש</button>
                </div>
                <div class="col-sm-2 my-auto">
                    <button class="btn btn-outline-warning" ng-click="clear()">ניקוי</button>
                </div>
            </div>
        </form>

        <div class="dog-list">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="mt-1" ng-repeat="dog in dogs">
                    <!--  -->
                    <uib-accordion-heading>
                        <div class="row">
                            <div class="col-md-2">{{dog.name}}</div>
                            <div class="col-md-2"><span>מין: </span>{{dog.gender}}</div>
                            <div class="col-md-2"><span>מספר: </span>{{dog.num}}</div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-outline-dark" ng-click="edit(dog._id)">עריכה</button>
                            </div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-outline-info" ng-click="update(dog._id)">עדכון</button>
                            </div>
                            <div class="col-md-2 my-auto">
                                <button class="btn btn-outline-danger" ng-click="remove(dog._id)">הסרה</button>
                            </div>
                            <!-- <div class="col-md-2"><span>סידורי: </span>{{dog._id}}</div> -->
                        </div>
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">גיל:</span>
                            <input type="text" class="form-control" id="dog-age" ng-model="dog.age"></div>

                        <div class="col-sm"><span class="font-weight-bold">מין:</span>
                            <input type="text" class="form-control" id="dog-gender" ng-model="dog.gender"></div>

                        <div class="col-sm"><span class="font-weight-bold">מיקום:</span>
                            <input type="text" class="form-control" id="dog-loc" ng-model="dog.loc"></div>

                        <div class="col-sm"><span class="font-weight-bold">סטטוס:</span>
                            <input type="text" class="form-control" id="dog-status" ng-model="dog.status"></div>

                        <div class="col-sm">
                            <!-- <button class="btn btn-info" ng-click="openDogPage(dog.id)">לדף הכלב</button> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">גזע:</span>
                            <input type="text" class="form-control" id="dog-breed" ng-model="dog.breed"></div>
                        <div class="col-sm"><span class="font-weight-bold">עיקור:</span>
                            <input type="text" class="form-control" id="dog-neuter" ng-model="dog.neuter"></div>
                        <div class="col-sm"><span class="font-weight-bold">כלבת:</span>
                            <input type="text" class="form-control" id="dog-rabbies" ng-model="dog.rabbies"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><span class="font-weight-bold">משושה 1:</span>
                            <input type="date" class="form-control" id="dog-distemper1" ng-model="dog.distemper1">
                        </div>
                        <div class="col-md-4"><span class="font-weight-bold">משושה 2:</span>
                            <input type="date" class="form-control" id="dog-distemper2" ng-model="dog.distemper2">
                        </div>
                        <div class="col-md-4"><span class="font-weight-bold">3 משושה:</span>
                            <input type="date" class="form-control" id="dog-distemper3" ng-model="dog.distemper3"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">תיאור:</span>
                            <input type="text" class="form-control" id="dog-descrip" ng-model="dog.descrip"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">הערות:</span>
                            <label for="comments"></label>
                            <textarea class="form-control" name="comments" id="comments" rows="3"
                                ng-model="dog.comments"></textarea>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>

</body>

</html>