<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>מעקב טיפול רפואי בכלבי עמותת כלבלאב</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/style.css">


</head>

<body ng-app="app" dir="rtl">
    <div class="container" ng-controller="AppCtrl">
        <h1 class="my-3 text-center">מעקב טיפול רפואי בכלבי עמותת כלבלאב</h1>
        <h2 class="text-center">חיפוש כלב במאגר</h2>

        <form class="search-box">
            <div class="row mx-auto">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dog-name">שם הכלב</label>
                        <input type="text" class="form-control" id="dog-name" ng-model="name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="dog-number">מס' כלב בכלבייה</label>
                        <input type="text" class="form-control" id="dog-number" ng-model="num">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="status">סטטוס</label>
                        <input type="text" class="form-control" id="status" ng-model="status">
                    </div>
                </div>
            </div>
        </form>
        <div class="dog-list">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="mt-1" ng-repeat="dog in dogs">
                    <uib-accordion-heading>
                        <div class="row">
                            <div class="col-md-4">{{dog.name}}</div>
                            <div class="col-md-4"><span>מספר: </span>{{dog.num}}</div>
                            <div class="col-sm-4"><span>מין:</span> {{dog.gender}}</div>
                        </div>
                    </uib-accordion-heading>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">גיל:</span> {{dog.age}}</div>
                        <div class="col-sm"><span class="font-weight-bold">מיקום:</span> {{dog.loc}}</div>
                        <div class="col-sm"><span class="font-weight-bold">סטטוס:</span> {{dog.status}}</div>
                        <div class="col-sm">
                            <button class="btn btn-info" ng-click="openDogPage(dog.id)">לדף הכלב</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm"><span class="font-weight-bold">תיאור:</span> {{dog.descrip}}</div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>


    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-touch.js"></script>
    <script src="js/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script src="controller.js"></script>
</body>

</html>