body {
    direction: rtl;
    text-align: right;
}

.border {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.form-check-input {
    /* margin-left: 50px; */
}
